{{! Styles }}
<link rel="stylesheet" href="/styles/admin-header.css" />
<link rel="stylesheet" href="/styles/admin-ingredients.css" />
<link rel="stylesheet" href="/styles/tables.css" />
<link rel="stylesheet" href="/styles/modal.css" />
{{! Fin Styles }}

<div class="main--content">

  {{! Inicio header }}
  <header class="header">
    <h1>Que Lo Parió</h1>
    <nav>
      <ul>
        <a href="/administrator/ingredients">
          <li class="nav--item nav--item__active">Ingredientes</li>
        </a>
        <a href="/administrator/products">
          <li class="nav--item">Productos</li>
        </a>
        <a href="/administrator/stadistics">
          <li class="nav--item">Estadísticas</li>
        </a>
      </ul>
    </nav>
  </header>

  {{! Final header }}

  {{! Inicio Tabla de Empanadas }}

  <div class="table--container">
    <h2>Ingredientes</h2>
    <table class="table-sortable">
      <thead>
        <tr>
          <th class="th-sort-asc">Producto</th>
          <th>Descripción</th>
          <th>Stock</th>
          <th>Precio</th>
          <th>Opciones</th>
          <th>Unidad</th>
        </tr>
      </thead>
      {{#each ingredient}}
        <tr>
          <td>{{name}}</td>
          <td>{{description}}</td>
          <td>
            <button class="addStock">+</button>
            <input type="number" name="" id="" value="{{stock}}" />
            <button class="removeStock">-</button>
          </td>
          <td class="price">{{price}}</td>
          <td>
            <button type="button" onclick="displayInfoModal(1)">
              <ion-icon name="alert-circle-outline"></ion-icon>
            </button>
            <button
              type="button"
              onclick="displayChangeIngredientPropertiesModal(1)"
            >
              <ion-icon name="build-outline"></ion-icon>
            </button>
            <button
              type="button"
              class="removeStock"
              onclick="displayDeleteIngredientModal(1)"
            >
              <ion-icon name="trash-outline"></ion-icon>
            </button>
          </td>
          <td>{{stockUnit}}</td>
        </tr>
      {{/each}}
    </table>
  </div>

  {{! Fin Tabla de Empanadas }}

  <div onclick="closeModal()" class="modal--container hidden">
    <div class="modal"></div>
  </div>

</div>

{{! Scrypts }}

<script src="/scrypts/table-sort.js"></script>
<script src="/scrypts/open-close-modal.js"></script>
<script src="/scrypts/modal-content.js"></script>
<script src="/scrypts/modify-order.js"></script>

<script
  type="module"
  src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
></script>
<script
  nomodule
  src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
></script>